name: url-shortener-project
services:
  redis:
    image: redis:7-alpine
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
  app:
    build: app/
    ports:
      - "3000:3000"
    depends_on:
      - redis
    env_file:
      - .env
  frontend:
    build: frontend/
    ports:
      - "5173:5173"
    depends_on:
      - app
volumes:
  redis-data:
