@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Sora", "Inter", sans-serif;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.animate-fadeInUp {
	animation: fadeInUp 0.8s ease-out forwards;
}
.animation-delay-200 {
	animation-delay: 0.2s;
	opacity: 0;
}
.animation-delay-400 {
	animation-delay: 0.4s;
	opacity: 0;
}
.animation-delay-600 {
	animation-delay: 0.6s;
	opacity: 0;
}
